force-app/main/default/flows/Account_Scheduled_New_Contractor_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Job_Count</name>
        <label>Assign Job Count</label>
        <locationX>1175</locationX>
        <locationY>942</locationY>
        <assignmentItems>
            <assignToReference>IncompleteJobCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Incomplete_Jobs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Route_Performance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Onboarder_is_owner</name>
        <label>Onboarder is owner</label>
        <locationX>208</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>OnboarderTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_onboarder_team_member.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Who_is_the_combined_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Onboarder_is_the_combined_owner</name>
        <label>Onboarder is the combined owner</label>
        <locationX>547</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>CombinedOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OnboarderTaskOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_to_First_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Queue_is_owner</name>
        <label>Queue is owner</label>
        <locationX>705</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Recruitertaskowner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G6g000000PSjk</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_onboarder_team_member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Queue_is_owner_0</name>
        <label>Queue is owner</label>
        <locationX>544</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>OnboarderTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G6g000000PSjk</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Who_is_the_combined_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Queue_is_the_combined_owner</name>
        <label>Queue is the combined owner</label>
        <locationX>166</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>CombinedOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G6g000000PSjk</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_to_First_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recruiter_is_owner</name>
        <label>Recruiter is owner</label>
        <locationX>715</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>Recruitertaskowner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_recruiter_team_member.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_onboarder_team_member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recruiter_is_the_combined_owner</name>
        <label>Recruiter is the combined owner</label>
        <locationX>366</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>CombinedOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recruitertaskowner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_to_First_Job</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_First_Bid_Case</name>
        <label>Check First Bid Case</label>
        <locationX>971</locationX>
        <locationY>793</locationY>
        <defaultConnector>
            <targetReference>Get_Incomplete_Jobs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bid_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Bid_Cases.Created_Date_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesterdayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_First_Bid_Case_Task</targetReference>
            </connector>
            <label>Is First Bid Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_First_Rejection</name>
        <label>Check First Rejection</label>
        <locationX>797</locationX>
        <locationY>1060</locationY>
        <defaultConnector>
            <targetReference>Get_Bid_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_First_Rejection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rejection_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Rejection_Cases.Created_Date_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesterdayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_First_Rejection_Task</targetReference>
            </connector>
            <label>Is First Rejection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Route_Performance</name>
        <label>Check Route Performance</label>
        <locationX>1167</locationX>
        <locationY>1096</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IC_Jobs_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncompleteJobCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Low_Performance_Task</targetReference>
            </connector>
            <label>IC Jobs 5+</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Service_Profile_Exist</name>
        <label>Does Service Profile Exist?</label>
        <locationX>805</locationX>
        <locationY>1376</locationY>
        <defaultConnector>
            <targetReference>Get_Rejection_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists / Skip</defaultConnectorLabel>
        <rules>
            <name>No_Service_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateDatePlus7Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Service_Profile_Task_7_Days</targetReference>
            </connector>
            <label>No Service Profile</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Payment_Due</name>
        <label>First Payment Due</label>
        <locationX>274</locationX>
        <locationY>992</locationY>
        <defaultConnector>
            <targetReference>OnboardingEnd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_First_Payment_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FullyVerifiedDatePlus14</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Payment_Task</targetReference>
            </connector>
            <label>Is First Payment Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_onboarder_present</name>
        <label>Is onboarder present?</label>
        <locationX>353</locationX>
        <locationY>263</locationY>
        <defaultConnector>
            <targetReference>Queue_is_owner_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_onboarder_team_member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboarder_is_owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_recruiter_present</name>
        <label>Is recruiter present?</label>
        <locationX>888</locationX>
        <locationY>136</locationY>
        <defaultConnector>
            <targetReference>Queue_is_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_recruiter_team_member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recruiter_is_owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OnboardingEnd</name>
        <label>OnboardingEnd</label>
        <locationX>498</locationX>
        <locationY>1178</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_week_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_to_Active</targetReference>
            </connector>
            <label>IS week 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_to_First_Job</name>
        <label>First Job Scheduled</label>
        <locationX>295</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>First_Payment_Due</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Day_Before_First_Job_is_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PriorDateFirstJobScheduled</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_First_Job_Scheduled_Date_Task</targetReference>
            </connector>
            <label>Day Before First Job is Scheduled</label>
        </rules>
        <rules>
            <name>Day_After_First_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PostDateFirstJobScheduled</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_First_Job_Scheduled_Date_Task</targetReference>
            </connector>
            <label>Day After First Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_is_the_combined_owner</name>
        <label>Who is the combined owner?</label>
        <locationX>359</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Queue_is_the_combined_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Queue is the owner</defaultConnectorLabel>
        <rules>
            <name>Onboarder_is_the_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_onboarder_team_member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboarder_is_the_combined_owner</targetReference>
            </connector>
            <label>Onboarder is the owner</label>
        </rules>
        <rules>
            <name>Recruiter_is_the_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_onboarder_team_member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_recruiter_team_member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recruiter_is_the_combined_owner</targetReference>
            </connector>
            <label>Recruiter is the owner</label>
        </rules>
    </decisions>
    <formulas>
        <name>BeginningOrEnd</name>
        <dataType>String</dataType>
        <expression>IF ({!CurrentDayofWeeek} = &quot;Monday&quot;, &quot;Beginning&quot;, &quot;End&quot;)</expression>
    </formulas>
    <formulas>
        <name>CreateDatePlus7Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Create_Date__c}+7</expression>
    </formulas>
    <formulas>
        <name>CurrentDayofWeeek</name>
        <dataType>String</dataType>
        <expression>CASE( MOD( {!$Flow.CurrentDate} - DATE(1900, 1, 7), 7), 0, &quot;Sunday&quot;, 1, &quot;Monday&quot;, 2, &quot;Tuesday&quot;, 3, &quot;Wednesday&quot;, 4, &quot;Thursday&quot;, 5, &quot;Friday&quot;, 6, &quot;Saturday&quot;,&quot;Error&quot;)</expression>
    </formulas>
    <formulas>
        <name>FullyVerifiedDatePlus14</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Fully_Verified_Date__c}+14</expression>
    </formulas>
    <formulas>
        <name>IsDayBeforeFirstJobScheduledDate</name>
        <dataType>Boolean</dataType>
        <expression>{!$Flow.CurrentDate} = {!$Record.First_Job_Scheduled_Date__c} - 1</expression>
    </formulas>
    <formulas>
        <name>OnboardingStartDatePlus30</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Onboarding_Start_Date__c}+30</expression>
    </formulas>
    <formulas>
        <name>OnboardingWeek5StartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Onboarding_Start_Date__c}+28</expression>
    </formulas>
    <formulas>
        <name>PostDateFirstJobScheduled</name>
        <dataType>Date</dataType>
        <expression>{!$Record.First_Job_Scheduled_Date__c} + 1</expression>
    </formulas>
    <formulas>
        <name>PriorDateFirstJobScheduled</name>
        <dataType>Date</dataType>
        <expression>{!$Record.First_Job_Scheduled_Date__c} - 1</expression>
    </formulas>
    <formulas>
        <name>YesterdayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + (-1)</expression>
    </formulas>
    <interviewLabel>Account - Scheduled - Contractor Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Scheduled - New Contractor Onboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_First_Bid_Case_Task</name>
        <label>Create First Bid Case Task</label>
        <locationX>976</locationX>
        <locationY>951</locationY>
        <connector>
            <targetReference>Get_Incomplete_Jobs</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CombinedOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124X000001ySnnQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>First Bid Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_First_Rejection_Task</name>
        <label>Create First Rejection Task</label>
        <locationX>1078</locationX>
        <locationY>1223</locationY>
        <connector>
            <targetReference>Get_Bid_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CombinedOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124X000001ySnnQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>First Rejection Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>First_Payment_Task</name>
        <label>First Payment Task (Due 14 Days)</label>
        <locationX>218</locationX>
        <locationY>1211</locationY>
        <connector>
            <targetReference>OnboardingEnd</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FullyVerifiedDatePlus14</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OnboarderTaskOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124X000001ySnnQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>First Payment Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Low_Performance_Task</name>
        <label>Low Performance Task</label>
        <locationX>1175</locationX>
        <locationY>1310</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CombinedOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124X000001ySnnQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Low Performance Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Missing_Service_Profile_Task_7_Days</name>
        <label>Missing Service Profile Task (7 Days)</label>
        <locationX>1014</locationX>
        <locationY>1356</locationY>
        <connector>
            <targetReference>Get_Rejection_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G6g000000PSjk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124X000001ySnnQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Missing Service Profile Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Offboarding_MM_Handoff_Task</name>
        <label>Offboarding Handoff (Due 30 Days)</label>
        <locationX>643</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>OnboardingStartDatePlus30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G6g000000PSjk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124X000001ySnnQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Offboarding MM Handoff Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Post_First_Job_Scheduled_Date_Task</name>
        <label>Post First Job Scheduled Date Task</label>
        <locationX>504</locationX>
        <locationY>963</locationY>
        <connector>
            <targetReference>First_Payment_Due</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>PostDateFirstJobScheduled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Recruitertaskowner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124X000001ySnnQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Post First Job Reminder Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Pre_First_Job_Scheduled_Date_Task</name>
        <label>Pre First Job Scheduled Date Task</label>
        <locationX>36</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>First_Payment_Due</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>PriorDateFirstJobScheduled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Recruitertaskowner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124X000001ySnnQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Day of First Job Reminder Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Bid_Cases</name>
        <label>Get Bid Cases</label>
        <locationX>823</locationX>
        <locationY>850</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_First_Bid_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126g0000010fdOAAQ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Incomplete_Jobs</name>
        <label>Get Incomplete Jobs</label>
        <locationX>1175</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Job_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scheduled_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>YesterdayDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Incomplete_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_onboarder_team_member</name>
        <label>Get onboarder team member</label>
        <locationX>361</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_onboarder_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the recruiter team member from the account.</description>
        <name>Get_recruiter_team_member</name>
        <label>Get recruiter team member</label>
        <locationX>904</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_recruiter_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruiter</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rejection_Cases</name>
        <label>Get QC Cases</label>
        <locationX>809</locationX>
        <locationY>1212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_First_Rejection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reject</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Profile</name>
        <label>Get Service Profile</label>
        <locationX>638</locationX>
        <locationY>1374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Service_Profile_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Status_to_Active</name>
        <label>Change Status to Active</label>
        <locationX>640</locationX>
        <locationY>987</locationY>
        <connector>
            <targetReference>Offboarding_MM_Handoff_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1092</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Get_recruiter_team_member</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126g000000tbJZAAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate_Date_Only__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2022-03-21</dateValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-16</startDate>
            <startTime>04:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>WeeklyCheckInTaskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!BeginningOrEnd} of Week Check-in {!$Record.Onboarding_Status__c}</text>
    </textTemplates>
    <variables>
        <name>BidCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CombinedOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncompleteJobCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OnboarderTaskOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QcCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Owner for recruiter tasks.</description>
        <name>Recruitertaskowner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
