force-app/main/default/flows/Account_Before_Contractor_Recruitment_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Contractor_Status</name>
        <label>Contractor Status</label>
        <locationX>630</locationX>
        <locationY>133</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Contractor_Account_Task</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Fully_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recruitment_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recruitment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fully Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fully_Verified_Move_to_Onboarding</targetReference>
            </connector>
            <label>Fully Verified</label>
        </rules>
        <rules>
            <name>Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recruitment_Onboarding_Handoff_Task</targetReference>
            </connector>
            <label>Onboarding</label>
        </rules>
    </decisions>
    <interviewLabel>Account - Before - Contractor Recruitment / Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Before - Contractor Recruitment / Onboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>First_Payment_Task</name>
        <label>First Payment Task</label>
        <locationX>43</locationX>
        <locationY>442</locationY>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Recruitment_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>First Payment Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Contractor_Account_Task</name>
        <label>New Contractor Account Task</label>
        <locationX>424</locationX>
        <locationY>208</locationY>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Recruitment_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Contractor Account Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Oboarding_MM_Handoff_Task</name>
        <label>Oboarding MM Handoff Task</label>
        <locationX>226</locationX>
        <locationY>442</locationY>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Recruitment_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Offboarding MM Handoff Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Recruitment_Onboarding_Handoff_Task</name>
        <label>Recruitment/Onboarding Handoff Task</label>
        <locationX>837</locationX>
        <locationY>133</locationY>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Recruitment_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Recruitment / Onboarding Handoff Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Recruitment_Queue</name>
        <label>Get Recruitment Queue</label>
        <locationX>426</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contractor_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contractor Recruitment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Fully_Verified_Move_to_Onboarding</name>
        <label>Fully Verified - Move to Onboarding</label>
        <locationX>638</locationX>
        <locationY>315</locationY>
        <inputAssignments>
            <field>Fully_Verified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Onboarding</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Recruitment_Queue</targetReference>
        </connector>
        <filterLogic>3 AND (1 OR 2)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126g000000tbJZAAY</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X14_Days_After_Fully_Verified</name>
            <connector>
                <targetReference>First_Payment_Task</targetReference>
            </connector>
            <label>14 Days After Fully Verified</label>
            <offsetNumber>14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>First_Job_Scheduled_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X30_Days_after_Fully_Verified</name>
            <connector>
                <targetReference>Oboarding_MM_Handoff_Task</targetReference>
            </connector>
            <label>30 Days after Fully Verified</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>First_Job_Scheduled_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
