force-app/main/default/flows/Account_Triggered_New_Contractor_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Onboarder_is_owner</name>
        <label>Onboarder is owner</label>
        <locationX>678</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>OnboarderTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_recruiter_team_member.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Weekly_Onboarding_Check_In_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Queue_is_owner</name>
        <label>Queue is owner</label>
        <locationX>674</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>OnboarderTaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G6g000000PSjk</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Weekly_Onboarding_Check_In_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_First_route_scheduled</name>
        <label>Account = First route scheduled</label>
        <locationX>1598</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Account_is_No_Longer_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>First_route_scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recruitment_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recruitment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Route Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCR_for_New_Account</targetReference>
            </connector>
            <label>First route scheduled?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Fully_verified</name>
        <label>Account = Fully verified</label>
        <locationX>1371</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>Account_First_route_scheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fully_verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recruitment_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recruitment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fully Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_fully_verified_date</targetReference>
            </connector>
            <label>Fully verified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_has_recruiter</name>
        <label>Account has recruiter?</label>
        <locationX>969</locationX>
        <locationY>814</locationY>
        <defaultConnector>
            <targetReference>W_9_Validated_Task_queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_recruiter_team_member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>W_9_Validated_Task_recruiter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_is_No_Longer_Active</name>
        <label>Account No Longer Active</label>
        <locationX>1851</locationX>
        <locationY>631</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_to_Inactive</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Archived</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Open_Tasks</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Inactive or Archived</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_onboarder_present</name>
        <label>Is onboarder present?</label>
        <locationX>482</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Queue_is_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Onboarder_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_recruiter_team_member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboarder_is_owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing_Account</name>
        <label>New or Existing Account?</label>
        <locationX>167</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Get_onboarder_team_member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Contractor_Account_Task</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>W9_Status_Changed</name>
        <label>W9 Status Changed</label>
        <locationX>983</locationX>
        <locationY>521</locationY>
        <defaultConnector>
            <targetReference>Account_Fully_verified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>W_9_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.W_9_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.W_9_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_recruiter_team_member</targetReference>
            </connector>
            <label>Changed - W-9 Verified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Weekly_Onboarding_Check_In_Tasks</name>
        <label>Weekly Onboarding Check In Tasks</label>
        <locationX>843</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>W9_Status_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Status_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contractor_Onboarding_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Weekly_Check_ins</targetReference>
            </connector>
            <label>Status changed?</label>
        </rules>
    </decisions>
    <formulas>
        <name>BeginningOrEnd</name>
        <dataType>String</dataType>
        <expression>IF ({!CurrentDayOfWeek} = &quot;Monday&quot;, &quot;Beginning&quot;, &quot;End&quot;)</expression>
    </formulas>
    <formulas>
        <name>CurrentDayOfWeek</name>
        <dataType>String</dataType>
        <expression>CASE( MOD( {!$Flow.CurrentDate} - DATE(1900, 1, 7), 7), 0, &quot;Sunday&quot;, 1, &quot;Monday&quot;, 2, &quot;Tuesday&quot;, 3, &quot;Wednesday&quot;, 4, &quot;Thursday&quot;, 5, &quot;Friday&quot;, 6, &quot;Saturday&quot;,&quot;Error&quot;)</expression>
    </formulas>
    <formulas>
        <name>FullyVerifiedDatePlus14</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Fully_Verified_Date__c}+14</expression>
    </formulas>
    <formulas>
        <name>FullyVerifiedDatePlus30</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Fully_Verified_Date__c}+30</expression>
    </formulas>
    <formulas>
        <name>OnboardingStartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Fully_Verified_Date__c} +
CASE(
MOD(TODAY() - DATE( 1900, 1, 7 ), 7 ),
0, 8,
1, 7,
2, 6,
3, 5,
4, 4,
5, 3,
6, 2,
0)</expression>
    </formulas>
    <formulas>
        <name>PostDateFirstJobScheduled</name>
        <dataType>Date</dataType>
        <expression>{!$Record.First_Job_Scheduled_Date__c} + 1</expression>
    </formulas>
    <formulas>
        <name>PriorDateFirstJobScheduled</name>
        <dataType>Date</dataType>
        <expression>{!$Record.First_Job_Scheduled_Date__c} - 1</expression>
    </formulas>
    <interviewLabel>Account - Triggered - New Contractor Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Triggered - New Contractor Onboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CCR_for_New_Account</name>
        <label>CCR for New Account</label>
        <locationX>1642</locationX>
        <locationY>899</locationY>
        <connector>
            <targetReference>Account_is_No_Longer_Active</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Request_Type__c</field>
            <value>
                <stringValue>New Vendor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CCRcasedescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Contractor Change Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126g0000010fhs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CCRSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Contractor_Account_Task</name>
        <label>New Contractor Account Task</label>
        <locationX>175</locationX>
        <locationY>596</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G6g000000PSjk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124X000001ySnnQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Contractor Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>W_9_Validated_Task_queue</name>
        <label>W-9 Validated Task for Queue</label>
        <locationX>1177</locationX>
        <locationY>666</locationY>
        <connector>
            <targetReference>Account_Fully_verified</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G6g000000PSjk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124X000001ySnnQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>W-9 Validated Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>W_9_Validated_Task_recruiter</name>
        <label>W-9 Validated Task for recruiter</label>
        <locationX>1140</locationX>
        <locationY>960</locationY>
        <connector>
            <targetReference>Account_Fully_verified</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_recruiter_team_member.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124X000001ySnnQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>W-9 Validated Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Weekly_Check_ins</name>
        <label>Weekly Check ins</label>
        <locationX>1059</locationX>
        <locationY>356</locationY>
        <assignRecordIdToReference>$Record.Onboarding_Status__c</assignRecordIdToReference>
        <connector>
            <targetReference>W9_Status_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Market_Assignment__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OnboarderTaskOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124X000001ySnnQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>WeeklyCheckInTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Open_Tasks</name>
        <label>Delete Open Tasks</label>
        <locationX>1864</locationX>
        <locationY>871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124X000001ySnnQAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_onboarder_team_member</name>
        <label>Get onboarder team member</label>
        <locationX>338</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_onboarder_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruiter</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recruiter_team_member</name>
        <label>Get recruiter team member</label>
        <locationX>989</locationX>
        <locationY>694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_has_recruiter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruiter</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_fully_verified_date</name>
        <label>Set fully verified date</label>
        <locationX>1405</locationX>
        <locationY>889</locationY>
        <connector>
            <targetReference>Account_First_route_scheduled</targetReference>
        </connector>
        <inputAssignments>
            <field>Fully_Verified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_or_Existing_Account</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 or 6)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126g000000tbJZAAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contractor_Onboarding_Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospective</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CCRcasedescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>First Job Scheduled: {!$Record.First_Job_Scheduled_Date__c}
Service Area: {!$Record.Service_Area__c}
Days Available: {!$Record.Days_available__c}
Number of jobs a day: {!$Record.Number_of_jobs__c}
Schedule Notes: {!$Record.Schedule_Notes__c}</text>
    </textTemplates>
    <textTemplates>
        <name>CCRSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Contractor Change Request Received for: {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>WeeklyCheckInTaskSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!BeginningOrEnd} of Week Check-in {!$Record.Contractor_Onboarding_Status__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>OnboarderTaskOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
