force-app/main/default/flows/AccountContactRelation_Before_AssignRole.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ContractorRoleContractorOwner</name>
        <label>Contractor Role = Contractor Owner</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContractorRole__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contractor Owner</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ContractorRoleWorkCrewLead</name>
        <label>Contractor Role = Work Crew Lead</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContractorRole__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work Crew Lead</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>TypeContractorRole</name>
        <label>Type of Contractor Role</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContractorOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountDetails.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContactDetails.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contractor_Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractorRoleContractorOwner</targetReference>
            </connector>
            <label>Contractor Owner</label>
        </rules>
        <rules>
            <name>WorkCrewLead</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountDetails.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContactDetails.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contractor_Owner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getContactDetails.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contractor_Team_Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractorRoleWorkCrewLead</targetReference>
            </connector>
            <label>Work Crew Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AccountContactRelation - Before - Assign Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountContactRelation - Before - Assign Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccountDetails</name>
        <label>GetAccountDetails</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContactDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContactDetails</name>
        <label>getContactDetails</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TypeContractorRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccountDetails</targetReference>
        </connector>
        <object>AccountContactRelation</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
