force-app/main/default/flows/Account_Sub_After_Contact_Roles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>addAccountContactRelationship</name>
        <label>addAccountContactRelationship</label>
        <locationX>996</locationX>
        <locationY>1264</locationY>
        <assignmentItems>
            <assignToReference>AccountContactRelationship</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oneAccountContactRelationship</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addRelatedContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAccountContactRelationship</name>
        <label>setAccountContactRelationship</label>
        <locationX>1148</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>oneAccountContactRelationship.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneAccountContactRelationship.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addRelatedContacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addAccountContactRelationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setLoopVariable</name>
        <label>setLoopVariable</label>
        <locationX>660</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>LoopVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>searchParentsAccountContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setParentId</name>
        <label>setParentId</label>
        <locationX>836</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getParentAccount.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addRelatedContacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isThereParent</name>
        <label>isThereParent?</label>
        <locationX>836</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>saveAccountContactRelation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>searchParentsAccountContacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Sub - After - Contact Roles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account (Sub) - After - Contact Roles</label>
    <loops>
        <name>addRelatedContacts</name>
        <label>addRelatedContacts</label>
        <locationX>836</locationX>
        <locationY>983</locationY>
        <collectionReference>getRelatedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setAccountContactRelationship</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>isThereParent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>searchParentsAccountContacts</name>
        <label>searchParentsAccountContacts</label>
        <locationX>660</locationX>
        <locationY>503</locationY>
        <collectionReference>LoopVariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getParentAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>saveAccountContactRelation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>saveAccountContactRelation</name>
        <label>saveAccountContactRelation</label>
        <locationX>660</locationX>
        <locationY>1811</locationY>
        <inputReference>AccountContactRelationship</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getParentAccount</name>
        <label>getParentAccount</label>
        <locationX>836</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedContacts</name>
        <label>getRelatedContacts</label>
        <locationX>836</locationX>
        <locationY>743</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setParentId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getParentAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>534</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>setLoopVariable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountContactRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>LoopVariable</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>oneAccountContactRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
</Flow>
