force-app/main/default/flows/Account_After_Client_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_client_Kickoff_Date</name>
        <label>Create client Kickoff Date</label>
        <locationX>659</locationX>
        <locationY>968</locationY>
        <actionName>NewEvent</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Scheduleportaltraining</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EndDateTime</name>
            <value>
                <elementReference>ClientKickOffEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDateTime</name>
            <value>
                <elementReference>$Record.Client_Kickoff_Call_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>ClientKickOffCallSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <constants>
        <description>0126g000000tMKeAAM</description>
        <name>ClientRecordTypeID</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>TaskRecordTypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0126g0000018E0OAAU</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Client_Status</name>
        <label>Client Status</label>
        <locationX>652</locationX>
        <locationY>445</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Upload_MSA</targetReference>
            </connector>
            <label>Status = New</label>
        </rules>
        <rules>
            <name>MSA_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MSA_Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MSA_Uploaded__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Assign_Account_Manager_on_account_page</targetReference>
            </connector>
            <label>MSA Uploaded</label>
        </rules>
        <rules>
            <name>Kickoff_Date_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Kickoff_Call_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Kickoff_Call_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Kickoff_Call_Date</targetReference>
            </connector>
            <label>Kickoff Date set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_kickoff_call_date_been_set</name>
        <label>Has kickoff call date been set?</label>
        <locationX>655</locationX>
        <locationY>774</locationY>
        <defaultConnector>
            <targetReference>Create_client_Kickoff_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Kickoff Call has been set</defaultConnectorLabel>
        <rules>
            <name>Kickoff_call_date_has_been_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Kickoff_Call_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Kickoff call date has been set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ClientKickOffEndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Client_Kickoff_Call_Date__c} + (1/24)</expression>
    </formulas>
    <formulas>
        <name>DueDate12Hours</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD( datevalue({!$Flow.CurrentDateTime}+12/24) - DATE( 1900, 1, 7 ), 7 ),
  5, datevalue({!$Flow.CurrentDateTime}+12/24) + 3,
  6, datevalue({!$Flow.CurrentDateTime}+12/24) + 2,
  datevalue({!$Flow.CurrentDateTime}+12/24) + 1)</expression>
    </formulas>
    <formulas>
        <name>DueDate36Hours</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD( datevalue({!$Flow.CurrentDateTime}+36/24) - DATE( 1900, 1, 7 ), 7 ),
  5, datevalue({!$Flow.CurrentDateTime}+36/24) + 3,
  6, datevalue({!$Flow.CurrentDateTime}+36/24) + 2,
  datevalue({!$Flow.CurrentDateTime}+36/24) + 1)</expression>
    </formulas>
    <interviewLabel>Account - After - Client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - After - Client Onboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Kick_Off_Deck_upload_to_files_on_account_page</name>
        <label>Create Kick Off Deck &amp; upload to files on account page</label>
        <locationX>963</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>Createaclientreferencesheet</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate12Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Create Kick Off Deck &amp; upload to files on account page</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Createaclientreferencesheet</name>
        <label>Create a client reference sheet</label>
        <locationX>1153</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Review_Client_Onboarding_Sheet</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate12Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Add a client account reference sheet field that a Google Doc link can be added to on the account page layout</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Create a client reference sheet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Record_property_management_software_on_account_page</name>
        <label>Record property management software on account page</label>
        <locationX>659</locationX>
        <locationY>1292</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Record property management software on account page</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Review_Client_Onboarding_Sheet</name>
        <label>Review Client Onboarding Sheet</label>
        <locationX>1149</locationX>
        <locationY>474</locationY>
        <connector>
            <targetReference>Verify_Client_has_been_added_to_Flexo</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate36Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Review Client Onboarding Sheet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Scheduleportaltraining</name>
        <label>Schedule portal training</label>
        <locationX>661</locationX>
        <locationY>1130</locationY>
        <connector>
            <targetReference>Record_property_management_software_on_account_page</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Schedule portal training</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Assign_Account_Manager_on_account_page</name>
        <label>Task Assign Account Manager on account page</label>
        <locationX>968</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Create_Kick_Off_Deck_upload_to_files_on_account_page</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate12Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Assign Account Manager on account page</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Upload_MSA</name>
        <label>Task Upload MSA</label>
        <locationX>387</locationX>
        <locationY>513</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Upload MSA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Verify_Client_has_been_added_to_Bid_Template</name>
        <label>Verify Client has been added to Bid Template</label>
        <locationX>1477</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>Verify_Desertscape_Package_is_set_up</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate36Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Verify Client has been added to Bid Template</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Verify_Client_has_been_added_to_BPI_Change_Request</name>
        <label>Verify Client has been added to BPI Change Request</label>
        <locationX>1310</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>Verify_Client_has_been_added_to_Bid_Template</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate36Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Verify Client has been added to BPI Change Request </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Verify_Client_has_been_added_to_Flexo</name>
        <label>Verify Client has been added to Flexo</label>
        <locationX>1312</locationX>
        <locationY>473</locationY>
        <connector>
            <targetReference>Verify_Client_has_been_added_to_BPI_Change_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate36Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Verify Client has been added to Flexo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Verify_Desertscape_Package_is_set_up</name>
        <label>Verify Desertscape Package is set up</label>
        <locationX>1481</locationX>
        <locationY>505</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate36Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Verify Desertscape Package is set up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Kickoff_Call_Date</name>
        <label>Find Kickoff Call Date</label>
        <locationX>661</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_kickoff_call_date_been_set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientKickOffCallSubject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>528</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Client_Status</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR 4 OR (5 AND 6))</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126g000000tMKeAAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>MSA_Uploaded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MSA_Uploaded__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Client_Kickoff_Call_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Client_Kickoff_Call_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ClientKickOffCallSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Client Kickoff Call for {!$Record.Name}</text>
    </textTemplates>
</Flow>
