force-app/main/default/flows/Case_Scheduled_Past_Due_Round_Robin_queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_cases_to_update</name>
        <label>Add cases to update</label>
        <locationX>978</locationX>
        <locationY>1968</locationY>
        <assignmentItems>
            <assignToReference>CasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assignment_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_to_case</name>
        <label>Assign Owner to case</label>
        <locationX>979</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_users_to_assign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_cases_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_iteration</name>
        <label>Increase iteration</label>
        <locationX>959</locationX>
        <locationY>1041</locationY>
        <assignmentItems>
            <assignToReference>iteration</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_users_to_order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_group_members</name>
        <label>Set group members</label>
        <locationX>712</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>NumberOfMembers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GroupMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assignment_Order</name>
        <label>Update Assignment Order</label>
        <locationX>979</locationX>
        <locationY>2145</locationY>
        <assignmentItems>
            <assignToReference>Get_users_to_assign.Round_Robin_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignmentOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_in_assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Confirm_Cases</name>
        <label>Confirm Cases</label>
        <locationX>705</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cases_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Past_Due_Cases_to_assign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Members</targetReference>
            </connector>
            <label>Cases Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddIterationToPreviousOrder</name>
        <dataType>Number</dataType>
        <expression>{!Get_users_to_order.Round_Robin_Order__c}+{!iteration}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AssignmentOrder</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_users_to_assign.Round_Robin_Order__c}),1,{!Get_users_to_assign.Round_Robin_Order__c}+{!NumberOfMembers})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Case - Scheduled - Past Due Round Robin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Scheduled - Past Due Round Robin queue</label>
    <loops>
        <name>Get_users</name>
        <label>Get users</label>
        <locationX>724</locationX>
        <locationY>1035</locationY>
        <collectionReference>GroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_iteration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_cases</name>
        <label>Loop through cases</label>
        <locationX>698</locationX>
        <locationY>1597</locationY>
        <collectionReference>CasesToAssign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_users_to_assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_from_Round_Robin_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Past_Due_Cases_to_assign</name>
        <label>Get Past Due Cases to assign</label>
        <locationX>708</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Cases</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</filterLogic>
        <filters>
            <field>TotalDaysPastDue__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Owned_by_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue_to_assign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>BPI_Service_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>POOLCLEANING</stringValue>
            </value>
        </filters>
        <filters>
            <field>BPI_Service_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>SALESCLEAN</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CasesToAssign</outputReference>
        <queriedFields>OwnerId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Members</name>
        <label>Get Queue Members</label>
        <locationX>712</locationX>
        <locationY>780</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_group_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue_to_assign.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>GroupMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_to_assign</name>
        <label>Get Queue to assign</label>
        <locationX>713</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Past_Due_Cases_to_assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Past_Due</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_users_to_assign</name>
        <label>Get users to assign</label>
        <locationX>970</locationX>
        <locationY>1601</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_to_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>In_Round_Robin_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Round_Robin_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_users_to_order</name>
        <label>Get users to order</label>
        <locationX>956</locationX>
        <locationY>1253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Round_Robin_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_users.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Round_Robin_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_from_Round_Robin_Assignment</name>
        <label>Remove from Round Robin Assignment</label>
        <locationX>712</locationX>
        <locationY>2412</locationY>
        <connector>
            <targetReference>Update_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>In_Round_Robin_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>In_Round_Robin_Assignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Round_Robin_Order</name>
        <label>Set Round Robin Order</label>
        <locationX>795</locationX>
        <locationY>1255</locationY>
        <connector>
            <targetReference>Get_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_users_to_order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>In_Round_Robin_Assignment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Round_Robin_Order__c</field>
            <value>
                <elementReference>iteration</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_cases</name>
        <label>Update cases</label>
        <locationX>712</locationX>
        <locationY>2605</locationY>
        <inputReference>CasesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_in_assignment</name>
        <label>Update User in assignment</label>
        <locationX>817</locationX>
        <locationY>2152</locationY>
        <connector>
            <targetReference>Loop_through_cases</targetReference>
        </connector>
        <inputReference>Get_users_to_assign</inputReference>
    </recordUpdates>
    <start>
        <locationX>586</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Queue_to_assign</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-09-13</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AgentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllLatestOwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CasesToAssign</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>GroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>iteration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UsersToAssign</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
