force-app/main/default/flows/Certification_Scheduled_Auto_Insurance_Expiration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>postToChatter</name>
        <label>postToChatter</label>
        <locationX>138</locationX>
        <locationY>876</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>loopContacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>varChatterBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>sendPolicyIsAboutToExpire</name>
        <label>sendPolicyIsAboutToExpire</label>
        <locationX>138</locationX>
        <locationY>756</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>postToChatter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varMailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>loopContacts.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>insurance@taskeasy.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>YOUR AUTO INSURANCE POLICY IS ABOUT TO EXPIRE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Verify_Contact</name>
        <label>Verify Contact</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopContacts</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>verifyMachContactAccountCertification</name>
        <label>verifyMachContactAccountCertification</label>
        <locationX>270</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>loopContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sameAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopContacts.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendPolicyIsAboutToExpire</targetReference>
            </connector>
            <label>sameAccount</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Certification - Scheduled - Auto Insurance Expiration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Certification - Scheduled - Auto Insurance Expiration</label>
    <loops>
        <name>loopContacts</name>
        <label>loopContacts</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <collectionReference>getContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>verifyMachContactAccountCertification</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Certification_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getContacts</name>
        <label>getContacts</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Certification_Record</name>
        <label>Update Certification Record</label>
        <locationX>50</locationX>
        <locationY>1188</locationY>
        <inputAssignments>
            <field>Last_Expiration_Warning__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getContacts</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 6 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>RecordTypeDeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insurance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Insurance_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Automobile</stringValue>
            </value>
        </filters>
        <filters>
            <field>DaysToExpire__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>DaysToExpire__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>DaysToExpire__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Verification_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verified</stringValue>
            </value>
        </filters>
        <object>Contractor_Insurance_Policy__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-04-11</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varChatterBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Automated Email Sent: Contractor Insurance Policy Expiration Notification
Sent: {!$Flow.InterviewStartTime}
To: {!loopContacts.Email}
{!varMailBody}</text>
    </textTemplates>
    <textTemplates>
        <name>varMailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!loopContacts.Account.Name},
Your auto insurance policy is set to expire in {!$Record.DaysToExpire__c} days on {!$Record.Expiration_Date__c}. To update your insurance information, please submit your documents to insurance@taskeasy.com before the expiration date.
If you have any questions or concerns, please contact us at insurance@taskeasy.com or call 1-800-518-4461.</text>
    </textTemplates>
</Flow>
