force-app/main/default/flows/Comp_Request_After_Submit_for_Approval_and_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Needs_Attention_Notification</name>
        <label>Needs Attention Notification</label>
        <locationX>1135</locationX>
        <locationY>452</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_ID_x1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>textNeedsAttentionBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>textNeedsAttentionTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>1146</locationX>
        <locationY>831</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotificationID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>txtNotificationBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>textNotificationTitleTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>SLC_Requests</description>
        <name>Submit_for_Approval_SLC</name>
        <label>Submit for Approval</label>
        <locationX>854</locationX>
        <locationY>342</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Assigns the record owners delegates id to the recipient id variable</description>
        <name>Assign_Recipient_Id</name>
        <label>Assign Recipient Id</label>
        <locationX>592</locationX>
        <locationY>749</locationY>
        <assignmentItems>
            <assignToReference>varRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.Manager.DelegatedApproverId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reminder_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Id_x1</name>
        <label>Assign Recipient Id</label>
        <locationX>992</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>varRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Needs_Attention_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approval_is_Pending</name>
        <label>Approval is Pending</label>
        <locationX>291</locationX>
        <locationY>751</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Submission_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getNotificationID</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created Path for Auto Submit for Approval</description>
        <name>NEW_or_UPDATED</name>
        <label>NEW or UPDATED</label>
        <locationX>533</locationX>
        <locationY>525</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>NEW_Submit_for_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval_SLC</targetReference>
            </connector>
            <label>NEW - Submit for Approval</label>
        </rules>
        <rules>
            <name>UPDATED_Finance_Rejected</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Needs Attention</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancel_Request__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incorrect Task Number Listed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incorrect Job Number Listed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incorrect CONT ID Listed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comp Price Too High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Needs_Attention</targetReference>
            </connector>
            <label>UPDATED - Finance Rejected</label>
        </rules>
        <rules>
            <name>UPDATED_Cancelled_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Needs Attention</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancel_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Status_Update</targetReference>
            </connector>
            <label>UPDATED - Cancelled Request</label>
        </rules>
        <rules>
            <name>UPDATED_Finance_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed - Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Update_Finance_Approved</targetReference>
            </connector>
            <label>UPDATED - Finance Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reminder_Type</name>
        <label>Reminder Type</label>
        <locationX>756</locationX>
        <locationY>832</locationY>
        <defaultConnector>
            <targetReference>Send_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Reminder</defaultConnectorLabel>
        <rules>
            <name>Daily_Reminder_x1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Reminder_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Reminder_Sent_x1</targetReference>
            </connector>
            <label>Daily Reminder</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ApprovedAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount_of_Request__c} + {!$Record.ContractorSalesTax__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Comp Request - After - Submit for Approval and Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Comp Request - After - Submit for Approval / Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification_ID_x1</name>
        <label>Get Notification ID</label>
        <locationX>425</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NEW_or_UPDATED</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Record_Change_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNotificationID</name>
        <label>getNotificationID</label>
        <locationX>458</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Record_Change_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Needs_Attention</name>
        <label>Needs Attention Updates</label>
        <locationX>851</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>Assign_Recipient_Id_x1</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Type__c</field>
            <value>
                <stringValue>Re-Submission</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Record_Status_Update</name>
        <label>Record Status Update</label>
        <locationX>855</locationX>
        <locationY>583</locationY>
        <inputAssignments>
            <field>Finance_Processed_By__c</field>
            <value>
                <stringValue>Request Cancelled by $User.FirstName $User.LastName</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Reason__c</field>
            <value>
                <stringValue>Request Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Update_Finance_Approved</name>
        <label>Status Update - Finance Approved</label>
        <locationX>858</locationX>
        <locationY>698</locationY>
        <inputAssignments>
            <field>Approved_Amount__c</field>
            <value>
                <elementReference>ApprovedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Date_Processed__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Reminder_Sent</name>
        <label>Update Last Reminder Sent</label>
        <locationX>75</locationX>
        <locationY>821</locationY>
        <connector>
            <targetReference>Approval_is_Pending</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Reminder_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Reminder_Sent_x1</name>
        <label>Update Last Reminder Sent</label>
        <locationX>1012</locationX>
        <locationY>915</locationY>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Reminder_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>24</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Get_Notification_ID_x1</targetReference>
        </connector>
        <object>Comp_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Day_2_Reminder</name>
            <connector>
                <targetReference>Approval_is_Pending</targetReference>
            </connector>
            <label>Day 2 Reminder</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_4_Reminder</name>
            <connector>
                <targetReference>Update_Last_Reminder_Sent</targetReference>
            </connector>
            <label>Day 4 Reminder</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Daily_Reminder</name>
            <connector>
                <targetReference>Approval_is_Pending</targetReference>
            </connector>
            <label>Daily Reminder</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Last_Reminder_Sent__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textNeedsAttentionBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Comp Request {!$Record.Name} Needs Attention before it can be Approved, please check the current status reason and comments from Finance for further instruction</text>
    </textTemplates>
    <textTemplates>
        <name>textNeedsAttentionTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Comp Request {!$Record.Name} Needs Attention</text>
    </textTemplates>
    <textTemplates>
        <name>textNotificationTitleTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Comp Request {!$Record.Name} has been escalated</text>
    </textTemplates>
    <textTemplates>
        <name>txtNotificationBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Comp Request {!$Record.Name} - submitted on {!$Record.CreatedDate} has not been approved or rejected by assigned approver and is currently escalated to you for immediate attention, Please review and Approve or Decline as applicable</text>
    </textTemplates>
    <variables>
        <name>varRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
