force-app/main/default/flows/Contact_After_Assign_Contact_Roles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>addAccountContactRelationship</name>
        <label>addAccountContactRelationship</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>AccountContactRelationship</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oneAccountContactRelationship</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>searchChildrenAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAccountContactRelationship</name>
        <label>setAccountContactRelationship</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>oneAccountContactRelationship.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneAccountContactRelationship.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getChildrenAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getChildrenAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addAccountContactRelationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setLoopVariable</name>
        <label>setLoopVariable</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>LoopVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>searchChildrenAccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isThereChildren</name>
        <label>isThereChildren?</label>
        <locationX>396</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>saveAccountContactRelation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getChildrenAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAccountContactRelationship</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Contact - After - Assign Contact Roles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - After - Assign Contact Roles</label>
    <loops>
        <name>searchChildrenAccount</name>
        <label>searchChildrenAccount</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>LoopVariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getChildrenAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>saveAccountContactRelation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>saveAccountContactRelation</name>
        <label>saveAccountContactRelation</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <inputReference>AccountContactRelationship</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getChildrenAccount</name>
        <label>getChildrenAccount</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isThereChildren</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setLoopVariable</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountContactRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>LoopVariable</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>oneAccountContactRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
</Flow>
