force-app/main/default/flows/Contractor_Account_Region_Assignment_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Contractor Account Region Assignment Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contractor Account Region Assignment Creation</label>
    <loops>
        <name>Update_Child_Records</name>
        <label>Update Child Records</label>
        <locationX>544</locationX>
        <locationY>379</locationY>
        <collectionReference>Get_Parent_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Child_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Records</name>
        <label>Create Child Records</label>
        <locationX>306</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>Update_Child_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <elementReference>Update_Child_Records.Active__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contractor_Recruitment_Profile__c</field>
            <value>
                <elementReference>Update_Child_Records.Contractor_Recruitment_Profile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Update_Child_Records.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Count__c</field>
            <value>
                <elementReference>Update_Child_Records.Property_Count__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Update_Child_Records.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code_New__c</field>
            <value>
                <elementReference>Update_Child_Records.Zip_Code_New__c</elementReference>
            </value>
        </inputAssignments>
        <object>Region_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Parent_Record</name>
        <label>Get Parent Record</label>
        <locationX>544</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Child_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Region_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Account</name>
        <label>Update Child Account</label>
        <locationX>549</locationX>
        <locationY>570</locationY>
        <inputReference>Get_Parent_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Parent_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126g000000tbJZAAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Region_Assignment_Count__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>150.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Region_Assignment_Count__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
