force-app/main/default/flows/Contact_Scheduled_Daily_Rejection_Notice_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>varChatterBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_email</name>
        <label>Send Rejection Email</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varMailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@taskeasy.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varMailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignCount</name>
        <label>AssignCount</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>caseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Rejection_email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_Cases_Exist</name>
        <label>Do Cases Exist?</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>No Cases</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCount</targetReference>
            </connector>
            <label>Cases Exist</label>
        </rules>
    </decisions>
    <interviewLabel>Contact - Scheduled - Daily Rejection Notice Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Scheduled - Daily Rejection Notice Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Cases_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reject</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Resolution_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QC Second Chance Job Created</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Closed_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126g0000010fhsAAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Address__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126g000000tbKoAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126g000000tbKtAAI</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-05-14</startDate>
            <startTime>17:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>varChatterBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Automated Email Sent: Contractor Rejection Notification
Sent: {!$Flow.InterviewStartTime}
To: {!$Record.Email}

{!varMailBody}</text>
    </textTemplates>
    <textTemplates>
        <name>varMailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.FirstName},  

While reviewing some of the properties you have serviced, we found {!caseCount} job(s) that we were unable to approve.

For any job we were not able to approve, you will see a 2nd-chance job on your schedule which needs to be completed within 48 hours. The notes on the 2nd chance job have specific details about why the job was rejected and what still needs to be done to make the job right.

If a 2nd chance job is not completed within that 48 hour time frame or if the reason for the rejection was not corrected, the job will remain rejected and will not be paid out.

As a reminder, jobs are rejected for the following three reasons: the quality expectations were not met, there was work left undone, or we were missing key photos.

Thanks for all you do,

TaskEasy</text>
    </textTemplates>
    <textTemplates>
        <name>varMailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Property Follow-Up Required</text>
    </textTemplates>
    <variables>
        <name>caseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varFinalCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
