force-app/main/default/flows/Email_Message_Before_Contact_Record_Type_Checker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Left_Value</name>
        <label>Add Left Value</label>
        <locationX>192</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>emailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailLeftValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Left_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_Type_ID</name>
        <label>Add Record Type ID</label>
        <locationX>766</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Email_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_to_Record</name>
        <label>Assign Count to Record</label>
        <locationX>955</locationX>
        <locationY>824</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_RecordType_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Debug_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestEmailCollection</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Record_Count</name>
        <label>Assign Record Count</label>
        <locationX>767</locationX>
        <locationY>824</locationY>
        <assignmentItems>
            <assignToReference>varRecordTypeCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>RecordTypeCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Count_to_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VarEmailAddresses</name>
        <label>Assign VarEmailAddresses</label>
        <locationX>390</locationX>
        <locationY>121</locationY>
        <assignmentItems>
            <assignToReference>varEmailAddresses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>allAddresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_is_list_separated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_Notes</name>
        <label>Debug Notes</label>
        <locationX>602</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>$Record.Debug_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>allAddresses</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_Left_Value</name>
        <label>Remove Left Value</label>
        <locationX>192</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>varEmailAddresses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveLastEmailValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_More_Email_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_TaskEasy_Emails</name>
        <label>Remove TaskEasy Emails</label>
        <locationX>548</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>emailCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Filter_TaskEasy_Emails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Email_Addresses</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_TaskEasy_Emails</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter TaskEasy Emails</label>
        <locationX>438</locationX>
        <locationY>700</locationY>
        <assignNextValueToReference>currentItem_Filter_TaskEasy_Emails</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>emailCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_TaskEasy_Emails</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>@taskeasy.com</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Remove_TaskEasy_Emails</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Add_Contact_Record_Type_to_Collection</name>
        <label>Add Contact Record Type to Collection?</label>
        <locationX>1151</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Loop_Email_Addresses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null - Skip</defaultConnectorLabel>
        <rules>
            <name>Existing_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Contact.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Email_Addresses</targetReference>
            </connector>
            <label>Existing - Skip</label>
        </rules>
        <rules>
            <name>New_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Record_Type_ID</targetReference>
            </connector>
            <label>New - Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_More_Email_Addresses</name>
        <label>Check For More Email Addresses</label>
        <locationX>593</locationX>
        <locationY>474</locationY>
        <defaultConnector>
            <targetReference>Filter_TaskEasy_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More to Add</defaultConnectorLabel>
        <rules>
            <name>Error_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>,,</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debug_Notes</targetReference>
            </connector>
            <label>Error Check</label>
        </rules>
        <rules>
            <name>Another_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Left_Value</targetReference>
            </connector>
            <label>Add Another</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_is_list_separated</name>
        <label>How is list separated?</label>
        <locationX>381</locationX>
        <locationY>282</locationY>
        <defaultConnector>
            <targetReference>Debug_Notes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Semi Colon</defaultConnectorLabel>
        <rules>
            <name>Comma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailAddresses</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>,</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Left_Value</targetReference>
            </connector>
            <label>Comma</label>
        </rules>
    </decisions>
    <formulas>
        <name>allAddresses</name>
        <dataType>String</dataType>
        <expression>{!$Record.ToAddress}+{!ccAddresses}+{!bccAddresses}</expression>
    </formulas>
    <formulas>
        <name>bccAddresses</name>
        <dataType>String</dataType>
        <expression>IF(
 NOT( ISBLANK({!$Record.BccAddress})),
 {!$Record.BccAddress},
NULL
)</expression>
    </formulas>
    <formulas>
        <name>ccAddresses</name>
        <dataType>String</dataType>
        <expression>IF(
 NOT( ISBLANK({!$Record.CcAddress})),
 {!$Record.CcAddress},
NULL
)</expression>
    </formulas>
    <formulas>
        <name>EmailLeftValue</name>
        <dataType>String</dataType>
        <expression>LEFT({!varEmailAddresses},FIND(&quot;,&quot;,{!varEmailAddresses})-1)</expression>
    </formulas>
    <formulas>
        <name>RemoveLastEmailValue</name>
        <dataType>String</dataType>
        <expression>TRIM((RIGHT({!varEmailAddresses},LEN({!varEmailAddresses})-FIND(&quot;,&quot;,{!varEmailAddresses}))))</expression>
    </formulas>
    <formulas>
        <name>TestEmailCollection</name>
        <dataType>String</dataType>
        <expression>{!emailCollection} + {!RecordTypeCollection}</expression>
    </formulas>
    <formulas>
        <name>TestRecordTypeCollection</name>
        <dataType>String</dataType>
        <expression>{!RecordTypeCollection}</expression>
    </formulas>
    <interviewLabel>Email Message - Before - Contact Record Type Checker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Message - Before - Contact Record Type Checker</label>
    <loops>
        <name>Loop_Email_Addresses</name>
        <label>Loop Email Addresses</label>
        <locationX>766</locationX>
        <locationY>601</locationY>
        <collectionReference>emailCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Record_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1159</locationX>
        <locationY>616</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Contact_Record_Type_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Email_Addresses</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>570</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Assign_VarEmailAddresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0056g000001rqQ8</stringValue>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>currentItem_Filter_TaskEasy_Emails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!allAddresses};</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecordTypeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
