force-app/main/default/flows/Funds_Adjustment_Request_After.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>914</locationX>
        <locationY>792</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotificationID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>varNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>varNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varNotificationRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>544</locationX>
        <locationY>316</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assign_Finance_Notify</name>
        <label>assignFinanceNotify</label>
        <locationX>1057</locationX>
        <locationY>696</locationY>
        <assignmentItems>
            <assignToReference>varRecordStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Request_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textFinanceNotificationBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textFinanceNotificationTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotificationRecipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getNotificationID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOwnerNotify</name>
        <label>assignOwnerNotify</label>
        <locationX>778</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>varRecordStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Request_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotificationTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textOwnerNotificationTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textOwnerNotificationBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotificationRecipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getNotificationID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Finance_Team</name>
        <label>Which Finance Team</label>
        <locationX>1008</locationX>
        <locationY>462</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contractor_Consumer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contractor_Adjustment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer_Adjustment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Adjust_Contractor_Funds__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getGroup</targetReference>
            </connector>
            <label>Contractor / Consumer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does this record need to run through the approval process to be approved by Ops?</description>
        <name>Record_Status</name>
        <label>Record Status</label>
        <locationX>768</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Existing</defaultConnectorLabel>
        <rules>
            <name>New_Record_Needs_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Submitted_for_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Record_Is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operations_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operations_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Finance_Status</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Is_Rejected</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Finance_Contractor_Adjustment_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finance_Contractor_Adjustment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finance_Client_Consumer_ADJ_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finance_Client_Consumer_ADJ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecordRejected</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Is_Processed</name>
            <conditionLogic>(1 AND 2 AND 6)  OR (1 AND 2 AND 4) OR (3 AND 4 AND 5) OR (3 AND 4 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Finance_Contractor_Adjustment_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finance_Contractor_Adjustment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finance_Client_Consumer_ADJ_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finance_Client_Consumer_ADJ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forContractorStatus</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>forCustomerStatus</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateRecord_Processed</targetReference>
            </connector>
            <label>Processed</label>
        </rules>
    </decisions>
    <formulas>
        <description>resource for updating the Finance contractor status based on various criteria</description>
        <name>forContractorStatus</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Record.RecordType.DeveloperName} = &apos;Contractor_Adjustment&apos;, &apos;New&apos;,
IF(
AND( 
ISPICKVAL({!$Record.Adjust_Contractor_Funds__c}, &apos;Yes&apos;),
OR(
{!$Record.RecordType.DeveloperName} = &apos;Client_Adjustment&apos;, 
{!$Record.RecordType.DeveloperName} = &apos;Consumer_Adjustment&apos;)
), 
&apos;New&apos;, &apos;&apos;)
)</expression>
    </formulas>
    <formulas>
        <description>Updates the Finance Customer Status field with a value of &quot;New&quot; based on criteria</description>
        <name>forCustomerStatus</name>
        <dataType>String</dataType>
        <expression>IF(
OR(
{!$Record.RecordType.DeveloperName} = &apos;Client_Adjustment&apos;,
{!$Record.RecordType.DeveloperName} = &apos;Consumer_Adjustment&apos;
), 
&apos;New&apos;,
IF(
AND(
{!$Record.RecordType.DeveloperName} = &apos;Contractor_Adjustment&apos;,
ISPICKVAL({!$Record.Client_Consumer_Charge_Adjustment_Req__c}, &apos;Yes&apos;)
),
&apos;New&apos;, &apos;&apos;)
)</expression>
    </formulas>
    <interviewLabel>Funds Adjustment Request - After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Funds Adjustment Request - After</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getGroup</name>
        <label>getGroup</label>
        <locationX>1146</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Finance_Notify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FAR_Finance_Contractor_and_Consumer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNotificationID</name>
        <label>getNotificationID</label>
        <locationX>914</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Record_Change_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Finance_Status</name>
        <label>updateApproved</label>
        <locationX>1016</locationX>
        <locationY>318</locationY>
        <connector>
            <targetReference>Finance_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>Finance_Client_Consumer_ADJ_Status__c</field>
            <value>
                <elementReference>forCustomerStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Contractor_Adjustment_Status__c</field>
            <value>
                <elementReference>forContractorStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecord_Processed</name>
        <label>updateProcessed</label>
        <locationX>880</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>assignOwnerNotify</targetReference>
        </connector>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecordRejected</name>
        <label>updateRejected</label>
        <locationX>664</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>assignOwnerNotify</targetReference>
        </connector>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Record_Status</targetReference>
        </connector>
        <object>Funds_Adjustment_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textFinanceNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} has been approved by operations and is ready to be processed.</text>
    </textTemplates>
    <textTemplates>
        <name>textFinanceNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} is ready to be processed</text>
    </textTemplates>
    <textTemplates>
        <name>textOwnerNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>That status of {!$Record.Name} has been changed to {!$Record.Request_Status__c}</text>
    </textTemplates>
    <textTemplates>
        <name>textOwnerNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} has been {!$Record.Request_Status__c}</text>
    </textTemplates>
    <variables>
        <name>varContractorStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>forContractorStatus</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCustomerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>forCustomerStatus</elementReference>
        </value>
    </variables>
    <variables>
        <name>varNotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotificationRecipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotificationRecipients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varNotificationRecpients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
