force-app/main/default/flows/Incomplete_Jobs_Notification_Central_Time_Zone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IJ_Notification_Email</name>
        <label>IJ Notification Email</label>
        <locationX>203</locationX>
        <locationY>661</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Incomplete_Job_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>IJEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varContactEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@taskeasy.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your TaskEasy Route Completion</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Field_Values</name>
        <label>Assign Field Values</label>
        <locationX>749</locationX>
        <locationY>672</locationY>
        <assignmentItems>
            <assignToReference>CollectionUpdateRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_IJ_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_IJ_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_Assignments</name>
        <label>Record Assignments</label>
        <locationX>749</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarGroupID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_IJ_Records.GROUP_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_IJ_Records.Notification_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_IJ_Records.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Field_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_IJ_Records_Exists</name>
        <label>Do IJ Records Exists?</label>
        <locationX>528</locationX>
        <locationY>459</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Incomplete_Jobs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_IJ_Records</targetReference>
            </connector>
            <label>Records Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Data_Before_Sending_Email</name>
        <label>Verify Data Before Sending Email</label>
        <locationX>368</locationX>
        <locationY>666</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Data_for_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IJ_Notification_Email</targetReference>
            </connector>
            <label>All Data Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Incomplete Jobs Notification - Central Time Zone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incomplete Jobs Notification - Central Time Zone</label>
    <loops>
        <name>Loop_IJ_Records</name>
        <label>Loop IJ Records</label>
        <locationX>537</locationX>
        <locationY>663</locationY>
        <collectionReference>Get_Incomplete_Jobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_Assignments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Verify_Data_Before_Sending_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Incomplete_Jobs</name>
        <label>Get Incomplete Jobs</label>
        <locationX>535</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_IJ_Records_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Time_Zone__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CENTRAL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Scheduled_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Notification_Sent_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Incomplete_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Incomplete_Job_Records</name>
        <label>Update Incomplete Job Records</label>
        <locationX>59</locationX>
        <locationY>661</locationY>
        <inputReference>CollectionUpdateRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Get_Incomplete_Jobs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incomplete_Job_Notification_Scheduled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contractor_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-09-27</startDate>
            <startTime>19:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>IJEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Name}&lt;/p&gt;&lt;p&gt;There were {!varRecordCount} jobs on your schedule today that didn’t get completed. We understand that there are things that come up that prevent you from completing your full route. Please take a few moments to let us know why some properties couldn&apos;t be completed so we can take action and continue to make improvements on:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Faster bid approvals&lt;/li&gt;&lt;li&gt;Identifying weather issues&lt;/li&gt;&lt;li&gt;Helping solve access issues faster&lt;/li&gt;&lt;li&gt;Route efficiency&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;a href=&quot;https://www.taskeasy.com/tfaforms/4932186?gid={!VarGroupID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Provide Property Level Details&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CollectionUpdateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Incomplete_Job__c</objectType>
    </variables>
    <variables>
        <name>varContactEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIJLOOP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Incomplete_Job__c</objectType>
    </variables>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Incomplete_Job__c</objectType>
    </variables>
</Flow>
