force-app/main/default/flows/Lead_After_Zapier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Client_Lead_RT</name>
        <label>Client_Lead_RT</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>LeadRecordTypeDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client_Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getLead_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Consumer_Leads_RT</name>
        <label>Consumer_Leads_RT</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>LeadRecordTypeDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consumer_Leads</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getLead_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contractor_Lead_RT</name>
        <label>Contractor_Lead_RT</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>LeadRecordTypeDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contractor_Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getLead_RT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>createdByZapier</name>
        <label>createdByZapier</label>
        <locationX>776</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zapier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Type</name>
        <label>Lead Type</label>
        <locationX>446</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contractor_Lead_RT</targetReference>
            </connector>
            <label>Contractor</label>
        </rules>
        <rules>
            <name>Consumer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consumer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consumer_Leads_RT</targetReference>
            </connector>
            <label>Consumer</label>
        </rules>
        <rules>
            <name>Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Lead_RT</targetReference>
            </connector>
            <label>Client</label>
        </rules>
    </decisions>
    <interviewLabel>Lead - After - Zapier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - After - Zapier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getLead_RT</name>
        <label>getLead_RT</label>
        <locationX>446</locationX>
        <locationY>744</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setLeadRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadRecordTypeDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>setLeadRecordType</name>
        <label>setLeadRecordType</label>
        <locationX>446</locationX>
        <locationY>864</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getLead_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>createdByZapier</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
