force-app/main/default/flows/LocationRecruit_MassCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>addRegion</name>
        <label>addRegion</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>regionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLocationRecruit.Region__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLocationRecruit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setLocationRecruit</name>
        <label>setLocationRecruit</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>locationRecruit.Opportunity_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_OpportunityLocationSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locationRecruit.Recruitment_Opportunity_Prospect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locationRecruitList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>locationRecruit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_OpportunityLocationSelected</targetReference>
        </connector>
    </assignments>
    <description>To mass create Location Recruit records from Recruitment Opportunity Prospect lightning page</description>
    <environments>Default</environments>
    <interviewLabel>LocationRecruit_MassCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LocationRecruit_MassCreate</label>
    <loops>
        <name>loop_OpportunityLocationSelected</name>
        <label>loop_OpportunityLocationSelected</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <collectionReference>table_OpportunityLocation.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setLocationRecruit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createLocationRecruit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopLocationRecruit</name>
        <label>loopLocationRecruit</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>getLocationRecruitCurrent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addRegion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_OpportunityLocations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createLocationRecruit</name>
        <label>createLocationRecruit</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>showError</targetReference>
        </faultConnector>
        <inputReference>locationRecruitList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_OpportunityLocations</name>
        <label>get_OpportunityLocations</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_OpportunityLocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recruitment_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RecruitmentOpportunityProspect.Recruitment_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RegionName__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>regionList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Location__c</object>
        <sortField>RegionName__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecruitmentOpportunityProspect</name>
        <label>get_RecruitmentOpportunityProspect</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLocationRecruitCurrent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recruitment_Opportunity_Prospect__c</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLocationRecruitCurrent</name>
        <label>getLocationRecruitCurrent</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopLocationRecruit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recruitment_Opportunity_Prospect__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_RecruitmentOpportunityProspect.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location_Recruit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>showResult</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;The Locations Recruit have been created&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_OpportunityLocations</name>
        <label>screen_OpportunityLocations</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loop_OpportunityLocationSelected</targetReference>
        </connector>
        <fields>
            <name>table_OpportunityLocation</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity_Location__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue> Unassigned Locations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_OpportunityLocations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1b82&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opportunity Location ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RegionName__c&quot;,&quot;guid&quot;:&quot;column-abf7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Region&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Region Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Crews_Needed__c&quot;,&quot;guid&quot;:&quot;column-cf9b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Crews Needed&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Crew_Count__c&quot;,&quot;guid&quot;:&quot;column-6a1d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Crew Count&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Assign Location(s)</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showError</name>
        <label>showError</label>
        <locationX>440</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;There is an error, please contact your Admin.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_RecruitmentOpportunityProspect</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>locationRecruit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location_Recruit__c</objectType>
    </variables>
    <variables>
        <name>locationRecruitList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location_Recruit__c</objectType>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>regionList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
