force-app/main/default/flows/New_Support_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>pcsRequestType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Type__c</picklistField>
        <picklistObject>Salesforce_Support_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Team</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Requesting_Team__c</picklistField>
        <picklistObject>Salesforce_Support_Request__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Support Request {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>New Support Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_Support_Request_Record</name>
        <label>Create new Support Request Record</label>
        <locationX>389</locationX>
        <locationY>205</locationY>
        <assignRecordIdToReference>serviceReqId</assignRecordIdToReference>
        <connector>
            <targetReference>getCaseNumber</targetReference>
        </connector>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <elementReference>Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Approved_By__c</field>
            <value>
                <elementReference>Request_Approved_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>pcsRequestType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requesting_Team__c</field>
            <value>
                <elementReference>Team</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requires_Escalation__c</field>
            <value>
                <elementReference>Requires_Escalation</elementReference>
            </value>
        </inputAssignments>
        <object>Salesforce_Support_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>getCaseNumber</name>
        <label>getCaseNumber</label>
        <locationX>588</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>end_message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceReqId</elementReference>
            </value>
        </filters>
        <object>Salesforce_Support_Request__c</object>
        <outputAssignments>
            <assignToReference>email</assignToReference>
            <field>LastModifiedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>serviceReqId</assignToReference>
            <field>Request_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>end_message</name>
        <label>end message</label>
        <locationX>587</locationX>
        <locationY>442</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: tahoma; font-size: 26px;&quot;&gt;Thank you!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: tahoma; color: rgb(0, 0, 0); font-size: 26px;&quot;&gt;Your request for support has been &lt;/span&gt;&lt;span style=&quot;font-family: tahoma; color: rgb(0, 0, 0); font-size: 26px; background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;received.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-family: tahoma; color: rgb(111, 111, 111); font-size: 20px;&quot;&gt;Request Number &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma; color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;{!serviceReqId}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma; color: rgb(111, 111, 111); font-size: 20px;&quot;&gt; has been created!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma; color: rgb(127, 127, 127); font-size: 14px;&quot;&gt;Please include with all communication regarding this request.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Please navigate to the record page through the above link and upload any and all documents that will help us with your specific issue so that we may help you with this request efficiently. (Supported formats: .jpg, .png, .docx or .pdf)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Support_Request_Information</name>
        <label>Support Request Information</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_new_Support_Request_Record</targetReference>
        </connector>
        <fields>
            <name>RequestDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 22px; font-family: tahoma;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Please provide the following information&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(124, 124, 124); font-size: 18px; font-family: tahoma;&quot;&gt;When filling out the details of this request, please be as detailed as possible&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Requires_Escalation</name>
            <dataType>Boolean</dataType>
            <fieldText>Requires Escalation?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>pcsRequestType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Approved_By</name>
            <dataType>String</dataType>
            <fieldText>Request Approved By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Feature Request</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Requesting_Team</name>
            <choiceReferences>Team</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Requesting Team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description of request</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details</name>
            <fieldText>Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Please provide detailed information &lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Continue</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;NEXT:&lt;/span&gt;&lt;span style=&quot;font-family: tahoma; color: rgb(118, 118, 118);&quot;&gt; Create Request Number and Upload Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Support_Request_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Content_Document_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>File_Format_OutPut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>File_Upload_Label</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Salesforce_Support_Request__c</objectType>
    </variables>
    <variables>
        <name>record_id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Salesforce_Support_Request__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceReqId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SsrID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Upload_Attachment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Uploaded_File_Names</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRequestApprovedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
