force-app/main/default/flows/Nightly_Insurance_Policy_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <interviewLabel>Nightly Insurance Policy Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nightly Insurance Policy Update</label>
    <loops>
        <name>Loop_through_records</name>
        <label>Loop through records</label>
        <locationX>352</locationX>
        <locationY>473</locationY>
        <collectionReference>Get_Expired_Policies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Policy_Type</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Expired_Policies</name>
        <label>Get Expired Policies</label>
        <locationX>351</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contractor_Insurance_Strategy__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Self Insured</stringValue>
            </value>
        </filters>
        <filters>
            <field>Insurance_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General Liability</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contractor_Insurance_Policy__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contractor_Insurance_Strategy__c</queriedFields>
        <queriedFields>Expiration_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Policy_Type</name>
        <label>Update Policy Type</label>
        <locationX>655</locationX>
        <locationY>473</locationY>
        <connector>
            <targetReference>Loop_through_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contractor_Insurance_Strategy__c</field>
            <value>
                <stringValue>TE Insured</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>varExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contractor_Insurance_Policy__c</object>
    </recordUpdates>
    <start>
        <locationX>225</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Expired_Policies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy_Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contractor_Insurance_Strategy__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Self Insured</stringValue>
            </value>
        </filters>
        <filters>
            <field>Insurance_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General Liability</stringValue>
            </value>
        </filters>
        <object>Contractor_Insurance_Policy__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-04-15</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
