force-app/main/default/flows/OpportunityLocation_MassCreatingRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Upload_Opportunity_Location</name>
        <label>Upload Opportunity Location</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>ConvertCSVToRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loopToGetZipCodes</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__convertedCSVRows</typeName>
            <typeValue>Opportunity_Location__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentIdList</name>
            <value>
                <elementReference>csv_upload.contentDocIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DSep</name>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSep</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Opportunity_Location__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TSep</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vCur</name>
            <value>
                <stringValue>$</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>listOpportunityLocation</assignToReference>
            <name>convertedCSVRows</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>setRegionOpportunityLocation</name>
        <label>setRegionOpportunityLocation</label>
        <locationX>704</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>loopOpportunityLocations.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopRegions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopOpportunityLocations.Recruitment_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listFinalOpportunityLocation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOpportunityLocations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRegions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setZipCodes</name>
        <label>setZipCodes</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ZipCodeRegions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopToGetZipCodes.Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopToGetZipCodes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>sameZipCode</name>
        <label>sameZipCode</label>
        <locationX>836</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>loopRegions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopOpportunityLocations.Zip_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopRegions.Zip_Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRegionOpportunityLocation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Mass Creating Opportunity Location Records. https://taskeasy.jira.com/browse/SFORCE-253</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Location {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Location Mass Creating Records</label>
    <loops>
        <name>loopOpportunityLocations</name>
        <label>loopOpportunityLocations</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <collectionReference>listOpportunityLocation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopRegions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createOpportunityLocations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopRegions</name>
        <label>loopRegions</label>
        <locationX>616</locationX>
        <locationY>974</locationY>
        <collectionReference>getRegionByZipCode</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sameZipCode</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopOpportunityLocations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopToGetZipCodes</name>
        <label>loopToGetZipCodes</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>listOpportunityLocation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setZipCodes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getRegionByZipCode</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createOpportunityLocations</name>
        <label>createOpportunityLocations</label>
        <locationX>176</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputReference>listFinalOpportunityLocation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getRegionByZipCode</name>
        <label>getRegionByZipCode</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOpportunityLocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zip_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ZipCodeRegions</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Region__c</object>
        <sortField>Zip_Code__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish_Screen</label>
        <locationX>176</locationX>
        <locationY>1742</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Congratulation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Congratulations!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your Opportunity Locations have been created!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FirstStep</name>
        <label>FirstStep</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upload_Opportunity_Location</targetReference>
        </connector>
        <fields>
            <name>Screen_1_Instructions</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;File Considerations&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;File must be in a CSV format. Example: &lt;/p&gt;&lt;p&gt;https://docs.google.com/spreadsheets/d/1MBaBIOLwTJrBSMvSmR8jteo8zVAZd_cq6bO49u5yRvQ/edit?usp=sharing&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FirstStep_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FirstStep_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>csv_upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Your CSV File</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FirstStep</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>listFinalOpportunityLocation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Location__c</objectType>
    </variables>
    <variables>
        <name>listOpportunityLocation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Location__c</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZipCodeRegions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
