force-app/main/default/flows/Recruitment_Opportunity_Prospect_Before.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Email</name>
        <label>Assign Email</label>
        <locationX>687</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phone_Number</name>
        <label>Assign Phone Number</label>
        <locationX>263</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Contact.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_Type</name>
        <label>Change Type</label>
        <locationX>676</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Phone_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Contact.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Phone_Number</targetReference>
            </connector>
            <label>Update Phone Number</label>
        </rules>
        <rules>
            <name>Update_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email</targetReference>
            </connector>
            <label>Update Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Recruitment Opportunity Prospect - Before {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recruitment Opportunity Prospect - Before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Contact</name>
        <label>Get Related Contact</label>
        <locationX>676</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>550</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Related_Contact</targetReference>
        </connector>
        <object>Recruitment_Opportunity_Prospect__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
