force-app/main/default/flows/Task_Counter_ROP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>OpptyActivityCount</name>
        <label>OpptyActivityCount</label>
        <locationX>840</locationX>
        <locationY>1158</locationY>
        <assignmentItems>
            <assignToReference>opptyTotalCallCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>countActivities.Call_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opptyTotalTaskCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>countActivities.Task_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opptyTotalEmailCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>countActivities.Email_Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countActivities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Call_Count</name>
        <label>Total Call Count</label>
        <locationX>283</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>totalCallCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Call_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countCalls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Email_Count</name>
        <label>Total Email Count</label>
        <locationX>283</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>totalEmailCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Email_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countEmails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Task_Count</name>
        <label>Total Task Count</label>
        <locationX>288</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>TotalTaskCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Task_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countTasks</targetReference>
        </connector>
    </assignments>
    <description>Counts activities related to Recruitment Opportunity Prospects</description>
    <interviewLabel>Task Counter - ROP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Counter - ROP</label>
    <loops>
        <name>countActivities</name>
        <label>countActivities</label>
        <locationX>836</locationX>
        <locationY>987</locationY>
        <collectionReference>getRelatedProspects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OpptyActivityCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateOpptyCounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>countCalls</name>
        <label>countCalls</label>
        <locationX>460</locationX>
        <locationY>540</locationY>
        <collectionReference>Get_Call_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Call_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Email_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>countEmails</name>
        <label>countEmails</label>
        <locationX>457</locationX>
        <locationY>827</locationY>
        <collectionReference>Get_Email_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Email_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Activity_Counts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>countTasks</name>
        <label>countTasks</label>
        <locationX>463</locationX>
        <locationY>251</locationY>
        <collectionReference>Get_Task_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Task_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Call_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Call_Records</name>
        <label>Get Call Records</label>
        <locationX>466</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countCalls</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Records</name>
        <label>Get Email Records</label>
        <locationX>457</locationX>
        <locationY>707</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countEmails</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ListEmail</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Records</name>
        <label>Get Task Records</label>
        <locationX>463</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProspects</name>
        <label>getProspects</label>
        <locationX>463</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Recruitment_Opportunity_Prospect__c</object>
        <outputAssignments>
            <assignToReference>varRecruitmentOppty</assignToReference>
            <field>Recruitment_Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRelatedProspects</name>
        <label>getRelatedProspects</label>
        <locationX>593</locationX>
        <locationY>988</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countActivities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recruitment_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecruitmentOppty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recruitment_Opportunity_Prospect__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Activity_Counts</name>
        <label>Update Activity Counts</label>
        <locationX>456</locationX>
        <locationY>988</locationY>
        <connector>
            <targetReference>getRelatedProspects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Count__c</field>
            <value>
                <elementReference>totalCallCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Count__c</field>
            <value>
                <elementReference>totalEmailCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Count__c</field>
            <value>
                <elementReference>TotalTaskCount</elementReference>
            </value>
        </inputAssignments>
        <object>Recruitment_Opportunity_Prospect__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOpptyCounts</name>
        <label>updateOpptyCounts</label>
        <locationX>1028</locationX>
        <locationY>997</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecruitmentOppty</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Call_Logs__c</field>
            <value>
                <elementReference>opptyTotalCallCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Emails_Sent__c</field>
            <value>
                <elementReference>opptyTotalEmailCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Task_Count__c</field>
            <value>
                <elementReference>opptyTotalTaskCount</elementReference>
            </value>
        </inputAssignments>
        <object>Recruitment_Opportunity__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getProspects</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>opptyTotalCallCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>opptyTotalEmailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>opptyTotalTaskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalCallCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalEmailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalTaskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRecruitmentOppty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
