force-app/main/default/flows/Time_Clock_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignEnd</name>
        <label>AssignEnd</label>
        <locationX>1008</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>varTE_End_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_incomplete_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStart</name>
        <label>AssignStart</label>
        <locationX>1069</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>varTE_Start_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Entry_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>EndBreak</name>
        <choiceText>End Break</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EndBreak</stringValue>
        </value>
    </choices>
    <choices>
        <name>EndLunch</name>
        <choiceText>End Lunch</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EndLunch</stringValue>
        </value>
    </choices>
    <choices>
        <name>EndWork</name>
        <choiceText>End Work</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EndWork</stringValue>
        </value>
    </choices>
    <choices>
        <name>StartBreak</name>
        <choiceText>Start Break</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>StartBreak</stringValue>
        </value>
    </choices>
    <choices>
        <name>StartLunch</name>
        <choiceText>Start Lunch</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>StartLunch</stringValue>
        </value>
    </choices>
    <choices>
        <name>StartWork</name>
        <choiceText>Start Work</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>StartWork</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_Existing_Entry_Exist</name>
        <label>Does Existing Entry Exist?</label>
        <locationX>1347</locationX>
        <locationY>720</locationY>
        <defaultConnector>
            <targetReference>Create_Work_Entry_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Entry</defaultConnectorLabel>
        <rules>
            <name>Existing_Entry_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_incomplete_Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Entry_Record</targetReference>
            </connector>
            <label>Existing Entry Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Shift_Exist</name>
        <label>Does Shift Exist?</label>
        <locationX>918</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>Create_Shift</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varShiftID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Time_Entry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Time_Card_Exist</name>
        <label>Does Time Card Exist?</label>
        <locationX>442</locationX>
        <locationY>7</locationY>
        <defaultConnector>
            <targetReference>Create_Time_Card</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Time Card</defaultConnectorLabel>
        <rules>
            <name>Time_Card_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTimeCardID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Shift</targetReference>
            </connector>
            <label>Time Card Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_or_End</name>
        <label>Start or End?</label>
        <locationX>1004</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>AssignEnd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Time_Clock_Choice</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Start</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStart</targetReference>
            </connector>
            <label>Start</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forCaseSafeUserID</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>forEntryType</name>
        <dataType>String</dataType>
        <expression>IF(Contains({!Time_Clock_Choice},&quot;Work&quot;),&quot;Work&quot;,
IF(Contains({!Time_Clock_Choice},&quot;Lunch&quot;),&quot;Lunch&quot;,
IF(Contains({!Time_Clock_Choice},&quot;Break&quot;),&quot;Break&quot;,
null
)))</expression>
    </formulas>
    <formulas>
        <name>forPunchDefaultValue</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Last_Time_Entry.Entry_Type__c},&quot;Work&quot;) &amp;&amp; {!Last_Time_Entry.Entry_Complete__c} = FALSE,&quot;StartBreak&quot;,
IF(ISPICKVAL({!Last_Time_Entry.Entry_Type__c},&quot;Break&quot;) &amp;&amp; {!Last_Time_Entry.Entry_Complete__c} = FALSE,&quot;EndBreak&quot;,
IF(ISPICKVAL({!Last_Time_Entry.Entry_Type__c},&quot;Break&quot;) &amp;&amp; {!varBreakCount} &lt;= 1 &amp;&amp; {!Last_Time_Entry.Entry_Complete__c} = TRUE,&quot;StartLunch&quot;,
IF(ISPICKVAL({!Last_Time_Entry.Entry_Type__c},&quot;Lunch&quot;) &amp;&amp; {!Last_Time_Entry.Entry_Complete__c} = FALSE,&quot;EndLunch&quot;,
IF(ISPICKVAL({!Last_Time_Entry.Entry_Type__c},&quot;Lunch&quot;) &amp;&amp; {!Last_Time_Entry.Entry_Complete__c} = TRUE,&quot;StartBreak&quot;,
IF(ISPICKVAL({!Last_Time_Entry.Entry_Type__c},&quot;Break&quot;) &amp;&amp; {!varBreakCount}  &gt;= 1 &amp;&amp; {!Last_Time_Entry.Entry_Complete__c} = TRUE,&quot;EndWork&quot;,

&quot;StartWork&quot;
))))))</expression>
    </formulas>
    <formulas>
        <name>forTimeCardEndDate</name>
        <dataType>Date</dataType>
        <expression>{!forTimeCardStartDate} + 6</expression>
    </formulas>
    <formulas>
        <name>forTimeCardStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(
WEEKDAY({!$Flow.CurrentDate})&lt;&gt;1,{!$Flow.CurrentDate} - (MOD({!$Flow.CurrentDate} - DATE(1900, 1, 8), 7) + 1),{!$Flow.CurrentDate}
)</expression>
    </formulas>
    <interviewLabel>Time Clock Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Clock Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Shift</name>
        <label>Create Shift</label>
        <locationX>698</locationX>
        <locationY>361</locationY>
        <assignRecordIdToReference>varShiftID</assignRecordIdToReference>
        <connector>
            <targetReference>Last_Time_Entry</targetReference>
        </connector>
        <inputAssignments>
            <field>Time_Card__c</field>
            <value>
                <elementReference>varTimeCardID</elementReference>
            </value>
        </inputAssignments>
        <object>Shift__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Time_Card</name>
        <label>Create Time Card</label>
        <locationX>377</locationX>
        <locationY>474</locationY>
        <assignRecordIdToReference>varTimeCardID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Current_Shift</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>varEmployeeUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Card_End_Date__c</field>
            <value>
                <elementReference>forTimeCardEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Card_Start_Date__c</field>
            <value>
                <elementReference>forTimeCardStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Card__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Entry_Record</name>
        <label>Create Work Entry Record</label>
        <locationX>1357</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>varTE_End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entry_Type__c</field>
            <value>
                <elementReference>forEntryType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Interview_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shift__c</field>
            <value>
                <elementReference>varShiftID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>varTE_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Shift</name>
        <label>Get Current Shift</label>
        <locationX>572</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Shift_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shift_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employee_User_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmployeeUserId</elementReference>
            </value>
        </filters>
        <object>Shift__c</object>
        <outputAssignments>
            <assignToReference>varBreakCount</assignToReference>
            <field>Break_Count__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varShiftID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrentShiftStartTime</assignToReference>
            <field>Shift_Start_Time__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_incomplete_Entry</name>
        <label>Get incomplete Entry</label>
        <locationX>1008</locationX>
        <locationY>833</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Existing_Entry_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varShiftID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Entry_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Entry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forEntryType</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Time_Entry__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTimeCard</name>
        <label>Get Time Card</label>
        <locationX>617</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Time_Card_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmployeeUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Pay_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Time_Card__c</object>
        <outputAssignments>
            <assignToReference>varTimeCardID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Last_Time_Entry</name>
        <label>Last Time Entry</label>
        <locationX>712</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Time_Clock_Initial_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varShiftID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Time_Entry__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Entry_Record</name>
        <label>Update Existing Entry Record</label>
        <locationX>1614</locationX>
        <locationY>717</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_incomplete_Entry.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>varTE_End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Interview_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Entry__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1612</locationX>
        <locationY>252</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p&gt;{!Time_Clock_Choice} recorded at {!$Flow.CurrentDateTime}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Time_Clock_Initial_Screen</name>
        <label>Time Clock Initial_Screen</label>
        <locationX>882</locationX>
        <locationY>499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Start_or_End</targetReference>
        </connector>
        <fields>
            <name>Greeting</name>
            <fieldText>&lt;p&gt;Hello {!$User.FirstName} {!$User.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please confirm your punch type and click next to continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Time_Clock_Choice</name>
            <choiceReferences>StartWork</choiceReferences>
            <choiceReferences>EndWork</choiceReferences>
            <choiceReferences>StartBreak</choiceReferences>
            <choiceReferences>EndBreak</choiceReferences>
            <choiceReferences>StartLunch</choiceReferences>
            <choiceReferences>EndLunch</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>forPunchDefaultValue</elementReference>
            </defaultValue>
            <fieldText>Time Clock Choice</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>822</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetTimeCard</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_FilterLastWorkEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Entry__c</objectType>
    </variables>
    <variables>
        <name>varBreakCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCurrentShiftStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmployeeUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>forCaseSafeUserID</elementReference>
        </value>
    </variables>
    <variables>
        <name>varEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastPunch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShiftID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTE_End_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>currentItem_FilterLastWorkEntry.End_Date_Time__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varTE_Entry_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTE_Start_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>currentItem_FilterLastWorkEntry.Start_Date_Time__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varTimeCardID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimeCardRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Card__c</objectType>
    </variables>
</Flow>
