force-app/main/default/flows/Time_Card_Submit_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ActionSubmitApprovalProcess</name>
        <label>ActionSubmitApproval</label>
        <locationX>226</locationX>
        <locationY>1526</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>TimeCardApprovalProcess</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>varNextApproverIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>varRecordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>varSubmitterId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Submitter_ID</name>
        <label>Assign Submitter ID</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varSubmitterId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordId.Employee__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordId.Employee__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Time_Card_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignManager</name>
        <label>AssignManager</label>
        <locationX>160</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>varNextApproverIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecordId.Employee__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmValidApprover</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQueue</name>
        <label>AssignQueue</label>
        <locationX>490</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>varNextApproverIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetTimeCardQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ActionSubmitApprovalProcess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSiteManager</name>
        <label>AssignSiteManager</label>
        <locationX>424</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>varNextApproverIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetSiteManager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmValidApprover</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ConfirmValidApprover</name>
        <label>ConfirmValidApprover</label>
        <locationX>358</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>GetTimeCardQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>isValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNextApproverIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActionSubmitApprovalProcess</targetReference>
            </connector>
            <label>isValid</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionFirstApprover</name>
        <label>DecisionFirstApprover</label>
        <locationX>358</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>GetSiteManagerRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Site Manager</defaultConnectorLabel>
        <rules>
            <name>EmployeeManager</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>varRecordId.Employee__r.Manager.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordId.Employee__r.Manager.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordId.Employee__r.Manager.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GUA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordId.Employee__r.Manager.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignManager</targetReference>
            </connector>
            <label>Employee Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Site_Manager_Exist</name>
        <label>Does Site Manager Exist?</label>
        <locationX>556</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetTimeCardQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not Exist</defaultConnectorLabel>
        <rules>
            <name>Site_Manager_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSiteManager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordId.Employee__r.UserRoleId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0a26c7fc-79ad-4b3e-bd9a-8c25aa8bc74a.Id</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSiteManager</targetReference>
            </connector>
            <label>Site Manager Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_Card_Status</name>
        <label>Time Card Status</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inactive_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordId.Employee__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Submitter_ID</targetReference>
            </connector>
            <label>Inactive Employee</label>
        </rules>
        <rules>
            <name>Previous_Week_Not_Submitted</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>varRecordId.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordId.Previous_Pay_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordId.Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordId.Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GUA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordId.Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecisionFirstApprover</targetReference>
            </connector>
            <label>PW - Not Submitted</label>
        </rules>
        <rules>
            <name>PW_Rejected</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>varRecordId.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordId.Previous_Pay_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordId.Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordId.Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GUA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordId.Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecisionFirstApprover</targetReference>
            </connector>
            <label>PW - Rejected</label>
        </rules>
    </decisions>
    <interviewLabel>Time Card - Submit for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Card - Submit for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetSiteManager</name>
        <label>GetSiteManager</label>
        <locationX>556</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Site_Manager_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSiteManagerRole.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId.Employee__r.Division</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSiteManagerRole</name>
        <label>GetSiteManagerRole</label>
        <locationX>556</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSiteManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TEI_Site_Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTimeCardQueue</name>
        <label>GetTimeCardQueue</label>
        <locationX>490</locationX>
        <locationY>1526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Time_Cards</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Time_Card_Owner</name>
        <label>Update Time Card Owner</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>DecisionFirstApprover</targetReference>
        </connector>
        <inputReference>varRecordId</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Time_Card_Status</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varNextApproverIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Card__c</objectType>
    </variables>
    <variables>
        <name>varSubmitterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>varRecordId.OwnerId</elementReference>
        </value>
    </variables>
</Flow>
