force-app/main/default/flows/Time_Card_Scheduled_Submit_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ActionSubmitApprovalProcess</name>
        <label>ActionSubmitApproval</label>
        <locationX>116</locationX>
        <locationY>1308</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>TimeCardApprovalProcess</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>varNextApproverIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignManager</name>
        <label>AssignManager</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>varNextApproverIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetEmployeeManager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmValidApprover</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQueue</name>
        <label>AssignQueue</label>
        <locationX>380</locationX>
        <locationY>1428</locationY>
        <assignmentItems>
            <assignToReference>varNextApproverIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetTimeCardQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ActionSubmitApprovalProcess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSiteManager</name>
        <label>AssignSiteManager</label>
        <locationX>314</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>varNextApproverIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetSiteManager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmValidApprover</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ConfirmValidApprover</name>
        <label>ConfirmValidApprover</label>
        <locationX>248</locationX>
        <locationY>1188</locationY>
        <defaultConnector>
            <targetReference>GetTimeCardQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>isValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNextApproverIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActionSubmitApprovalProcess</targetReference>
            </connector>
            <label>isValid</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionFirstApprover</name>
        <label>DecisionFirstApprover</label>
        <locationX>248</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>GetSiteManagerRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Site Manager</defaultConnectorLabel>
        <rules>
            <name>EmployeeManager</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 or 5)</conditionLogic>
            <conditions>
                <leftValueReference>GetEmployeeManager.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetEmployeeManager.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetEmployeeManager.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GUA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetEmployeeManager.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetEmployeeManager.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignManager</targetReference>
            </connector>
            <label>Employee Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Site_Manager_Exist</name>
        <label>Does Site Manager Exist?</label>
        <locationX>446</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetTimeCardQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not Exist</defaultConnectorLabel>
        <rules>
            <name>Site_Manager_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSiteManager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employee__r.UserRoleId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetSiteManagerRole.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSiteManager</targetReference>
            </connector>
            <label>Site Manager Exists</label>
        </rules>
    </decisions>
    <description>Weekly flow to submit time cards for approval.</description>
    <interviewLabel>Time Card - Scheduled - Submit for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Card - Scheduled - Submit for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetEmployeeManager</name>
        <label>GetEmployeeManager</label>
        <locationX>248</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionFirstApprover</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee__r.Manager.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSiteManager</name>
        <label>GetSiteManager</label>
        <locationX>446</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Site_Manager_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSiteManagerRole.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee__r.Division</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSiteManagerRole</name>
        <label>GetSiteManagerRole</label>
        <locationX>446</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSiteManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TEI_Site_Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTimeCardQueue</name>
        <label>GetTimeCardQueue</label>
        <locationX>380</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Time_Cards</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetEmployeeManager</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Previous_Pay_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HND</stringValue>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GUA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAL</stringValue>
            </value>
        </filters>
        <object>Time_Card__c</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-04-02</startDate>
            <startTime>04:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varNextApprover</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varNextApproverID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNextApproverIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
