force-app/main/default/flows/Update_Region_Assignments_Single_State.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>CSV_Upload_Action</name>
        <label>CSV Upload Action</label>
        <locationX>945</locationX>
        <locationY>168</locationY>
        <actionName>ConvertCSVToRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Uploaded_Zips</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__convertedCSVRows</typeName>
            <typeValue>Region__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentIdList</name>
            <value>
                <elementReference>csv_upload.contentDocIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Region__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSep</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DSep</name>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TSep</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vCur</name>
            <value>
                <stringValue>$</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varUploadedCSV</assignToReference>
            <name>convertedCSVRows</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_Create_Collection</name>
        <label>Add to Create Collection</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>varRecordsCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRegionAssignmentSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CSV_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active</name>
        <label>Assign Active</label>
        <locationX>1185</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>varExistingZips</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varDeactivateExistingZips</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmUploadScreen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CSV_Zips</name>
        <label>Assign CSV Zips</label>
        <locationX>1069</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>varUploadedZips</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Uploaded_Zips.Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewActiveZips</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Uploaded_Zips.Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Uploaded_Zips</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Zips</name>
        <label>Assign Existing Zips</label>
        <locationX>1485</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>varExistingZips</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Existing_Zips.Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewActiveZips</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Existing_Zips.Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeactivateExistingZips</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Existing_Zips.Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Zips</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inactive</name>
        <label>Assign Inactive</label>
        <locationX>1307</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>varDeactivateExistingZips</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varUploadedZips</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Records_to_Update</name>
        <label>Assign Records to Update</label>
        <locationX>1473</locationX>
        <locationY>831</locationY>
        <assignmentItems>
            <assignToReference>colRecordstoActivate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRegionAssignmentSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Activate_Existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Region_Assignment_Deactivate</name>
        <label>Assign Region Assignment Deactivate</label>
        <locationX>1788</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>varRegionAssignmentSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Filter.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRegionAssignmentSingle.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Region_ID</name>
        <label>Assign Region ID</label>
        <locationX>576</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>varRegionAssignmentSingle.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Region.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRegionAssignmentSingle.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRegionAssignmentSingle.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Region_ID_Exist</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter</label>
        <locationX>310</locationX>
        <locationY>30</locationY>
        <assignNextValueToReference>currentItem_Filter_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Region_Collection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_0.Zip_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>CSV_Loop</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Region</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Existing</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Existing</label>
        <locationX>1597</locationX>
        <locationY>451</locationY>
        <assignNextValueToReference>currentItem_Filter_Existing_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>AssignmentCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Existing_0.Zip_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Activate_Existing</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Existing_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>ActivateExisting</name>
        <label>Activate Existing</label>
        <locationX>1177</locationX>
        <locationY>590</locationY>
        <defaultConnector>
            <targetReference>GetRegions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingZips</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Activate_Existing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deactivate_Existing_Assignments</name>
        <label>Deactivate Existing Assignments?</label>
        <locationX>386</locationX>
        <locationY>795</locationY>
        <defaultConnector>
            <targetReference>Activate_Existing_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remain Activate</defaultConnectorLabel>
        <rules>
            <name>Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Override_Deactivation_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_All_Existing</targetReference>
            </connector>
            <label>Deactivate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Region_ID_Exist</name>
        <label>Does Region ID Exist?</label>
        <locationX>364</locationX>
        <locationY>443</locationY>
        <defaultConnector>
            <targetReference>Fault_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Region ID</defaultConnectorLabel>
        <rules>
            <name>Region_ID_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegionAssignmentSingle.Region__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Region</targetReference>
            </connector>
            <label>Region ID Exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>StateChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Zip_Code_State__c</picklistField>
        <picklistObject>Region__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Update Region Assignments Single State {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Region Assignments Single State</label>
    <loops>
        <name>CSV_Loop</name>
        <label>CSV Loop</label>
        <locationX>664</locationX>
        <locationY>671</locationY>
        <collectionReference>varNewActiveZips</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Deactivate_Existing_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Activate_Existing</name>
        <label>Loop Activate Existing</label>
        <locationX>1360</locationX>
        <locationY>580</locationY>
        <collectionReference>varExistingZips</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Existing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetRegions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Existing_Filter</name>
        <label>Loop Existing Filter</label>
        <locationX>1597</locationX>
        <locationY>654</locationY>
        <collectionReference>Filter_Existing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Region_Assignment_Deactivate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Records_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Existing_Zips</name>
        <label>Loop Existing Zips</label>
        <locationX>1400</locationX>
        <locationY>40</locationY>
        <collectionReference>AssignmentCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Existing_Zips</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Inactive</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Region</name>
        <label>Loop Region</label>
        <locationX>50</locationX>
        <locationY>410</locationY>
        <collectionReference>Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Region_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_to_Create_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Uploaded_Zips</name>
        <label>Loop Uploaded Zips</label>
        <locationX>1070</locationX>
        <locationY>40</locationY>
        <collectionReference>varUploadedCSV</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CSV_Zips</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Current_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>1047</locationX>
        <locationY>795</locationY>
        <connector>
            <targetReference>ConfirmUploadScreen</targetReference>
        </connector>
        <inputReference>varRecordsCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>660</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upload_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Assignments</name>
        <label>Get Current Assignments</label>
        <locationX>1264</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_Zips</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>State_Choice</elementReference>
            </value>
        </filters>
        <object>Region_Assignment__c</object>
        <outputReference>AssignmentCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Zip_Code__c</queriedFields>
        <sortField>Zip_Code__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetRegions</name>
        <label>GetRegions</label>
        <locationX>792</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CSV_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zip Code</stringValue>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>State_Choice</elementReference>
            </value>
        </filters>
        <object>Region__c</object>
        <outputReference>Region_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Zip_Code__c</queriedFields>
        <sortField>Zip_Code__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Existing_Assignments</name>
        <label>Activate Existing Assignments</label>
        <locationX>886</locationX>
        <locationY>796</locationY>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
        <inputReference>colRecordstoActivate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Deactivate_All_Existing</name>
        <label>Deactivate All Existing</label>
        <locationX>733</locationX>
        <locationY>999</locationY>
        <connector>
            <targetReference>Activate_Existing_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>State_Choice</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Region_Assignment__c</object>
    </recordUpdates>
    <screens>
        <name>ConfirmUploadScreen</name>
        <label>ConfirmUploadScreen</label>
        <locationX>1047</locationX>
        <locationY>1001</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayUploadedZips</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(23, 140, 9);&quot;&gt;Process Complete!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/r/{!recordID}/related/Region_Assignments__r/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;View All Region Assignments&lt;/a&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmUploadScreen_0</name>
        <label>ConfirmUploadScreen</label>
        <locationX>1185</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ActivateExisting</targetReference>
        </connector>
        <fields>
            <name>DisplayUploadedZips_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Review File&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Confirm Account:&lt;/b&gt; {!Get_Account.Name} &lt;/p&gt;&lt;p&gt;&lt;b&gt;Confirm State:&lt;/b&gt; {!State_Choice}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Confirm Region Changes&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;New Assignments to be Added:&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!varNewActiveZips}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;Existing Assignments to Remain Active: &lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!varExistingZips}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;Existing Assignments to be Deactivated:&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!varDeactivateExistingZips}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Override_Deactivation_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Deactivate Existing Assignments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>255</locationX>
        <locationY>640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CSV_Loop</targetReference>
        </connector>
        <fields>
            <name>Invalid_Zip_Code</name>
            <fieldText>&lt;p&gt;Zip code {!CSV_Loop} is not valid for state {!State_Choice} and will be skipped.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Screen</name>
        <label>Upload Screen</label>
        <locationX>819</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CSV_Upload_Action</targetReference>
        </connector>
        <fields>
            <name>Screen_1_Instructions</name>
            <fieldText>&lt;p&gt;&lt;b&gt;File Considerations&lt;/b&gt;&lt;/p&gt;&lt;p&gt;File must be in a CSV format. There should only be one column in your file and the first row must labeled Zip Code. Only include zip codes that are part of a single state.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Upload_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>csv_upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Your CSV File</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Upload_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>State_Choice</name>
                    <choiceReferences>StateChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select a State</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>619</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivateZips</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssignmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Region_Assignment__c</objectType>
    </variables>
    <variables>
        <name>AssignmentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ColExistingZips</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colRecordstoActivate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Region_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ColUploadedZips</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreationZips</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CSVZipCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItem_Assignment_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Region_Assignment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Region__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Existing_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Region_Assignment__c</objectType>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>Region_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Region__c</objectType>
    </variables>
    <variables>
        <name>varDeactivateExistingZips</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingZips</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewActiveZips</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordsCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Region_Assignment__c</objectType>
    </variables>
    <variables>
        <name>varRegionAssignmentActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegionAssignmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegionAssignmentSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Region_Assignment__c</objectType>
    </variables>
    <variables>
        <name>varRegionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegionSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Region__c</objectType>
    </variables>
    <variables>
        <name>varUploadedCSV</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Region__c</objectType>
    </variables>
    <variables>
        <name>varUploadedZips</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
